<div class="m-28">
  <p class=" bg-custompurple rounded-full font-bold p-2 w-fit full text-white px-4">Show your all Social Media Links in One place
  </p>
  <h1 class="font-bold text-6xl  mb-8 w-8/12 mt-8 leading-tight text-custompurple">Link For Your Public Profile And Creator Store</h1>
  <p class="w-5/12 text-xl">Simplify your online presence with a sleek, customizable homepage for all your important links. Perfect for creators, businesses, and anyone looking to share their digital footprint in one place.</p>

<div class="flex flex-col gap-4  items-center w-6/12 mt-10">
    <% if !user_signed_in? %>
    <%= link_to 'Login', new_user_session_path, class: "btn-primary" %>
    <%= link_to 'Register', new_user_registration_path, class: "btn-primary" %>
  <% else %>
    <%= link_to 'My Trees', trees_path, class: "btn-primary" %>
    <%= link_to 'Create New', new_tree_path, class: "btn-primary" %>
  <% end %>
</div>

</div>
