<footer class="bg-black text-white pt-16">
  <div class="w-[84%] mx-auto flex justify-between border-b-4 border-[var(--text-heading)] pb-20">
    <!-- Footer Name Section -->
    <div class="pt-3 pb-3 w-[32rem]">
      <h2 class="text-2xl font-black mb-5"><strong>RISHABH KUSHWAH</strong></h2>
      <p class="text-sm font-normal tracking-wide leading-relaxed">
        I am a specializing in Full-Stack web development, actively
        engaged in the process of acquiring knowledge and skills. My goal is
        to become a highly skilled web developer, leading to a successful
        career.
      </p>
    </div>

    <!-- Footer Links Section -->
    <div class="pt-3 pb-3">
      <h2 class="text-2xl font-black mb-5">Social Media</h2>
      <div class="flex space-x-4">
        <a href="https://github.com/rjkush17" target="_blank">
          <img src="icons/github.svg" alt="GitHub" class="h-6">
        </a>
        <a href="https://t.me/+LVYQWdbZBpc3MDZl" target="_blank">
          <img src="icons/telegram.svg" alt="Telegram" class="h-6">
        </a>
        <a href="https://www.instagram.com/rjkush17/" target="_blank">
          <img src="icons/instagram.svg" alt="Instagram" class="h-6">
        </a>
        <a href="https://www.linkedin.com/in/rjkush17/" target="_blank">
          <img src="icons/linkedin.svg" alt="LinkedIn" class="h-6">
        </a>
      </div>
    </div>
  </div>

  <!-- Footer Thanks Section -->
  <div class="text-center py-6">
    © 2023 RISHABH KUSHWAH | Handcrafted with ❤️ | Made by RISHABH KUSHWAH
  </div>
</footer>